<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">BMS</a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
        <li><a routerLink="/viewbooks"><i class="fa fa-book"></i>View Books</a></li>
        <li><a routerLink="/addbooks"><i class="fa fa-plus"></i>Add Books</a></li>
        <li><a routerLink="/searchbooks"><i class="fa fa-search"></i>Search Books</a></li>
      </ul>
    </div>
  </div>
</nav>