<div class="container">
    <div class="row">
        <div class="col-sm-4"></div>
        <div class="col-sm-4">
            <h1 align="center">Add Books Here</h1>
            <p *ngIf="bookadded" align="center">Book added successfully!!</p>

            <div class="form-group">
                <label>Title<span> *</span></label>
                <input type="text" class="form-control" [(ngModel)]="title" id="title"
                    placeholder="Enter Title of the Book">
            </div>
            <div class="form-group">
                <label>Author<span> *</span></label>
                <input type="text" class="form-control" [(ngModel)]="author" placeholder="Enter Author name">
            </div>
            <div class="form-group">
                <label>ISBN<span> *</span></label>
                <input type="number" class="form-control" [(ngModel)]="isbn" placeholder="Enter ISBN">
            </div>
            <div class="form-group">
                <label>Publication Date<span> *</span></label>
                <input type="date" class="form-control" [(ngModel)]="pubdate" placeholder="Enter Publication Date">
            </div>
            <div class="form-group">
                <label>Publisher<span> *</span></label>
                <input type="text" class="form-control" [(ngModel)]="publisher"
                    placeholder="Enter Publisher of the Book">
            </div>
            <div class="form-group">
                <label>Price<span> *</span></label>
                <input type="number" class="form-control" [(ngModel)]="price" placeholder="Enter Price of the Book">
            </div>
            <div class="form-group">
                <label>Genre<span> *</span></label>
                <select class="form-control" [(ngModel)]="genre">
                    <option value="Autobiograph">Auto Biograph</option>
                    <option value="Behaviour">Behaviour</option>
                    <option value="Fiction">Fiction</option>
                    <option value="Technology">Technology</option>
                </select>
            </div>
            <div class="form-group">
                <label>Format<span> *</span></label>
                <select class="form-control" [(ngModel)]="format">
                    <option value="E Pub">E Pub</option>
                    <option value="Paperback">Paperback</option>
                    <option value="Pdf">PDF</option>
                </select>
            </div>
            <div class="form-group">
                <div class="col-sm-4"></div>
                <div class="col-sm-4">
                    <button type="submit" class="btn btn-primary" (click)="addBooks()">Submit</button>
                </div>
            </div>
        </div>
    </div>
</div>