/* You can add global styles to this file, and also import other style files */
body{
    background-image: url('background.jpg');
    background-size: 100%, 100%;
}
label, table{
    color: black;
}
